<div class="row">
  <div class="col-md-8">
    <div class="media">
      <br />
      <% avatar_url = @user.avatar_url(128) %>
      <% if avatar_url %>
        <div class="media-left">
          <%= image_tag avatar_url, class: 'media-object' %>
        </div>
      <% end%>
      <div class="media-body">
        <h2 class="media-heading"><%= @user.name %></h2>
        <small>
          <%= pluralize(@user.posts.count, 'post') %>
          <%= pluralize(@user.comments.count, 'comment') %>
        </small>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="media">
      <br />
      <div class="media-body">
        <h3 class="media-heading">Created by <%= @user.name %></h3>
        <% if have_posts?(@user) %>
          <p><%= @user.name %> has not submitted any posts yet.</p>
        <% else %>
          <h4>Posts</h4>
          <%= render @user.posts %>
        <% end %>
        <br />
        <% if have_comments?(@user) %>
          <h4><%= @user.name %> has not submitted any comments yet.</h4>
        <% else %>
          <h4>Comments</h4>
          <%= render @user.comments %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <div class="media">
      <br />
      <div class="media-body">
        <h3 class="media-heading">Favorited by <%= @user.name %></h3>
        <% if have_favorites?(@user) %>
          <p><%= @user.name %> has not favorited any posts yet.</p>
        <% else %>
          <% @user.favorites.each do |favorite| %>
            <%= render partial: 'posts/favorites', locals: {post: favorite.post} %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
